.about {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.about__name {
  font-family: $serif;
  font-size: $xl-size;
}

.about__img {
  margin: 0 auto;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}