.nav__link-block {
  text-align: center;
  font-size: $l-size;
  font-family: $sans;
  margin: 10px 8% 20px;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
}

.nav__link {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: $sans;
  font-size: $m-size;
}

.nav__link:hover,
.nav__link:active {
  outline: 0;
  color: $deep-purple;
}

.nav__link:focus {
  outline: 0;
  color: $light-purple;
}

@media (min-width: $desktop-breakpoint) {
  .nav__link-block {
    margin: 10px 20% 20px;
  }

  .nav__link {
    font-size: $l-size;
  }
}
