.social {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: calc(100vh - 85px);
}

.social__background {
  height: calc(100vh - 85px);
  background-image: url(//discourse-user-assets.s3.amazonaws.com/original/3X/8/e/8e879b3208c9eb8bf249d9af2b2c128ef90a2e90.jpg);
  background-size: cover;
  background-position: center;
}

.social__icon {
  width: 60px;
  padding: 10px;
  padding-top: 30vh;
}

@media (min-width: $desktop-breakpoint) {
  .social__icon {
    width: 100px;
    padding: 10px;
    padding-top: 30vh;
  }
}
