.work__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-items: center;
  margin: 0 10px;
}

.project-card {
  width: 300px;
  padding: $xs-size;
  text-align: center;
}

.project-card__title {
  margin: $xs-size;
  font-family: $serif;
  font-size: $l-size;
}

.project-card__details {
  text-align: left;
}

.project-card__links {
  margin: 0;
}

.project-card__image {
  margin: 0 auto;
  max-width: 300px;
  max-height: 175px;
}

.project-card__link:link,
.project-card__link:visited {
  font-family: $fancy;
  font-size: $m-size;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.project-card__link:hover,
.project-card__link:active {
  font-family: $fancy;
  font-size: $m-size;
  text-decoration: none;
  color: $deep-purple;
  font-weight: bolder;
}
