@import url(https://fonts.googleapis.com/css?family=Roboto);

/*#about {
  height: 100%;
}*/

#contact-me {
  height: 100%;
  padding-top: 40%;
}

section {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:#eee;
  color: #444;
  /*margin-top: 60px;*/
}

h2,h3 {
  text-align: center;
}

.icon {
  font-size: 4em;
}

.icon-block {
  text-align: center;
  margin-top: 2em;
}

.top-pad {
  margin-top: 80px;
}

.top-margin {
  margin-top: 40px;
}

.larger-text {
  font-size:1.5em;
  padding:30px 15px 15px 80px;
  text-align: left;
}

hr {
  border-width:4px;
  border-radius:4px;
  border-color:#888;
  margin-top: 4em;
}

.text-center {
  text-align: center;
}

.profilepic {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.screenshot {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

a > .fa {
  font-size: 2em;
  padding:15px;
  border-style:solid;
  border-radius:50%;
}

.btn > .fa {
  font-size: 1em;
  padding: 0;
  border-style: hidden;;
  border-radius: 0;
}

.bottom-margin {
  margin-bottom: 10em;
}
