html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

nav ul {
  font-family: "Anonymous Pro", monospace; }
  nav ul li a {
    color: #111111;
    font-weight: 700; }
    nav ul li a:hover {
      color: #f828ff; }

article h2 {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.1em; }

p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: whitesmoke; }

.fancy-link {
  color: yellow; }
  .fancy-link:hover {
    color: #111111; }

.skills ul {
  font-family: "Anonymous Pro", monospace; }
  .skills ul li {
    color: whitesmoke;
    font-weight: 700; }

.typography-name {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 4em;
  color: whitesmoke; }

.typography-heading {
  font-size: 3em;
  font-family: "Anonymous Pro", monospace; }

header .typography-heading {
  color: whitesmoke; }

img {
  clip-path: polygon(0 0, 55% 0, 100% 100%, 45% 100%);
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg); }

nav ul {
  list-style-type: none;
  background-color: rgba(248, 40, 255, 0.5);
  overflow: hidden; }
nav li a {
  text-decoration: none; }
  nav li a:hover {
    background-color: #111111; }

.fancy-link-wrapper {
  display: inline-block;
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg); }

.fancy-link {
  display: inline-block;
  background-color: #111111;
  text-decoration-line: none;
  padding: 1px 2px; }
  .fancy-link:hover {
    background-color: yellow; }

.right-skew {
  transform: skew(15deg);
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  height: 200px; }

.landing {
  background: linear-gradient(#f828ff, rgba(248, 40, 255, 0.1)), url("/public/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg");
  background-size: cover; }

.about {
  background: linear-gradient(#f828ff, rgba(248, 40, 255, 0.1)), url("/public/images/jason-leung-nBy2abg-6UM-unsplash.jpg");
  background-size: cover; }

.skills {
  background: linear-gradient(rgba(111, 24, 116, 0.8), rgba(111, 24, 116, 0)), url("/public/images/sandro-katalina-k1bO_VTiZSs-unsplash.jpg");
  background-size: cover; }
  .skills ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5); }

.screen {
  height: 100vh; }

nav {
  position: fixed;
  top: 0;
  width: 100%; }
  nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    nav ul li {
      flex-grow: 1;
      float: left; }
      nav ul li a {
        display: block;
        text-align: center;
        padding: 16px; }

.wide-container {
  margin: 20px auto;
  text-align: center;
  width: 80%;
  max-width: 800px; }

.right-skew {
  grid-area: photo; }

.landing {
  margin: 0;
  padding: 0; }

.about {
  margin: 0;
  padding: 1%; }

.skills {
  margin: 0;
  padding: 1%; }
  .skills ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .skills ul li {
      flex-grow: 1;
      float: left;
      display: block;
      text-align: center;
      padding: 16px; }

.typography-name {
  margin: 0; }

.typography-heading {
  margin: 0; }

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.col-3-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-areas: "photo art1 art2" "photo . ."; }

.center {
  text-align: center; }

.left {
  float: left !important; }

.top-pad {
  padding-top: 1.2em;
  margin: 0; }

.art1 {
  grid-area: art1; }

.art2 {
  grid-area: art2; }

/*# sourceMappingURL=main.css.map */
