img {
  clip-path: polygon(0 0, 55% 0, 100% 100%, 45% 100%);
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
}

nav {
  ul {
    list-style-type: none;
    background-color: rgba(248, 40, 255, 0.5);
    overflow: hidden;
  }

  li {
    a {
      text-decoration: none;

      &:hover {
        background-color: $dark-color;
      }
    }
  }
}

.fancy-link-wrapper {
  display: inline-block;
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
}

.fancy-link {
  display: inline-block;
  background-color: $dark-color;
  text-decoration-line: none;
  padding: 1px 2px;

  &:hover {
    background-color: yellow;
  }
}

.right-skew {
  transform: skew(15deg);
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  height: 200px;
}

.landing {
  background: linear-gradient(rgba(248, 40, 255, 1), rgba(248, 40, 255, 0.1)),
    url("/public/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg");
  background-size: cover;
}

.about {
  background: linear-gradient(rgba(248, 40, 255, 1), rgba(248, 40, 255, 0.1)),
    url("/public/images/jason-leung-nBy2abg-6UM-unsplash.jpg");
  background-size: cover;
}

.skills {
  background: linear-gradient(rgba(111, 24, 116, 0.8), rgba(111, 24, 116, 0)),
    url("/public/images/sandro-katalina-k1bO_VTiZSs-unsplash.jpg");
  background-size: cover;

  ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
