// Colours

// Fonts

@import url("https://fonts.googleapis.com/css?family=Istok+Web|Lora|Raleway");
$sans: "Istok Web", sans-serif;
$serif: "Lora", serif;
$fancy: "Raleway", sans-serif;

// Sizes
$xxs-size: 0.4rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
