// Colours

$deep-purple: rgba(84, 66, 142, 1);
$light-purple: rgba(137, 99, 186, 1);
$green-tint: rgba(175, 227, 192, 1);
$green: rgba(144, 194, 144, 1);
$green-shade: rgba(104, 139, 88, 1);

// Fonts

@import url("https://fonts.googleapis.com/css?family=Istok+Web|Lora|Raleway");
$sans: "Istok Web", sans-serif;
$serif: "Lora", serif;
$fancy: "Raleway", sans-serif;

// Sizes
$xxs-size: 0.4rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
